<table>
  <tr>
    <td><h1><%= @item.title %></h1></td>
    <td><%= @item.price %></td>
  </tr>
  <tr>
    <td><%= image_tag(@item.photo) %></td>
    <td><%= @item.description %></td>
  </tr>
  <tr>
    <td><%= link_to "#{@item.link}", @item.link %></td>
  </tr>
</table>

<br><%= link_to 'Back to List', items_path %>
<br><%= link_to "Edit item", edit_item_path(@item) %>
<br><%= link_to "Remove Item", @item, :method => :delete %>

